{% extends 'base.html.twig' %}

{% block title %}Modifier une scatégorie{% endblock %}

{% block body %}

    <div class="container">
        <h1>Modifier  une catégorie</h1>

        {{ form_start(form) }}
        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.name) }}
            </div>
        </div>
        <div class="my-3">
            <a class="btn btn-secondary" href="{{path('category')}}">Annuler</a>
            <button class="btn btn-primary">Valider</button>
        </div>


        {{ form_end(form) }}



    </div>

{% endblock %}
