{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}

    <div class="container">
        <h1>Les catégories</h1>

        <a class="btn btn-primary" aria-current="page" href="{{ path('category.add') }}">Ajouter une category</a>

        <table class="table">
            <thead>
            <tr>
                <th scope='col'>#</th>
                <th scope='col'>Name</th>
                <th scope='col'></th>
            </tr>
            </thead>
            <tbody>
            {% for category in categories %}
                <tr>
                    <td>{{category.id}}</td>
                    <td>{{category.name}}</td>
                    <td>
                        <div class="d-flex">
                            <a class="btn btn-primary" aria-current="page" href="{{ path('category.edit', {id: category.id}) }}">Modifier</a>
                            <form method="post" action="{{ path('category.delete', {id: category.id}) }}" onsubmit="return confirm('Sure?')">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{csrf_token('delete'~category.id)}}">
                                <button class="btn btn-danger">Supprimer</button>
                            </form>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
