{% extends 'base.html.twig' %}

{% block title %}Modifier une salle{% endblock %}

{% block body %}

    <div class="container">
        <h1>Modifier  une salle</h1>

        {{ form_start(form) }}
        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.name) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.description) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.capacity) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.city) }}
            </div>
        </div>

        <div class="my-3">
            <a class="btn btn-secondary" href="{{path('room')}}">Annuler</a>
            <button class="btn btn-primary">Valider</button>
        </div>


        {{ form_end(form) }}



    </div>

{% endblock %}
