{% extends 'base.html.twig' %}

{% block title %}Bienvenue | Accueil{% endblock %}

{% block body %}

    <div class="container">
        <h1>Salles</h1>

        <a class="btn btn-primary" aria-current="page" href="{{ path('room.add') }}">Ajouter une salle</a>

        <table class="table">
            <thead>
                <tr>
                    <th scope='col'>#</th>
                    <th scope='col'>Name</th>
                    <th scope='col'>City</th>
                    <th scope='col'>Description</th>
{#                    <th scope='col'>Disponibilité</th>#}
                    <th scope='col'>Created</th>
                    <th scope='col'>Updated</th>
                    <th scope='col'></th>
                </tr>
            </thead>
            <tbody>
                {% for room in rooms %}
                    <tr>
                        <td>{{room.id}}</td>
                        <td>{{room.name}}</td>
                        <td>{{room.city}}</td>
                        <td>{{room.description | length > 100 ? room.description | slice (0,100) ~ '...' : room.description}}</td>
                        <td>{{room.getCreatedAt | date()}}</td>
                        {% if room.getUpdatedAt is null %}
                            <td>-</td>
                        {% else %}
                            <td>{{room.getUpdatedAt | date()}}</td>
                        {% endif %}
                        <td>
                            <div class="d-flex">
                                <a class="btn btn-primary" aria-current="page" href="{{ path('room.edit', {id: room.id}) }}">Modifier</a>
                                <form method="post" action="{{ path('room.delete', {id: room.id}) }}" onsubmit="return confirm('Sure?')">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="_token" value="{{csrf_token('delete'~room.id)}}">
                                    <button class="btn btn-danger">Supprimer</button>
                                </form>
                            </div>

                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
